<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/dog/new">Register a new dog breed</a>
    <ul>
        <% for(dog of dogs) {%>
            <a href="/dog/<%= dog._id %>">
                <li><%=dog.breed %></li>
            </a>
        <%} %>
    </ul>
</body>
</html>